# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

.venv
.venv/
.venv/*

# SQLite DB
client/data/*.db
server/data/*.db

*.pem
*.key
*.crt
server/server.crt
server/server.key

client/client_keys/*

# Logs
/logs/
*.log

# VSCode
.vscode/

# SSL keys/certs
server/data/*.crt
client/data/*.key

# Env
.env
.venv/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.bak
